[Unit]
Description=Exit Scanner

[Service]
Type=simple
WorkingDirectory=/srv/exitscanner.torproject.org/exitscanner
ExecStart=/usr/bin/python3 /srv/exitscanner.torproject.org/exitscanner/exitscan.py

[Install]
WantedBy=default.target
